.habilidade__sova--img1 {
    background-image: url("../img/Sova/skill-1.svg");
}

.habilidade__sova--img2 {
    background-image: url("../img/Sova/skill-2.svg");
}

.habilidade__sova--img3 {
    background-image: url("../img/Sova/skill-3.svg");
}

.habilidade__sova--img4 {
    background-image: url("../img/Sova/skill-4.svg");
}

.habilidade__sova--img1:hover {
    background-image: url("../img/Sova/skill-1-active.svg");
}

.habilidade__sova--img2:hover {
    background-image: url("../img/Sova/skill-2-active.svg");
}

.habilidade__sova--img3:hover {
    background-image: url("../img/Sova/skill-3-active.svg");
}

.habilidade__sova--img4:hover {
    background-image: url("../img/Sova/skill-4-active.svg");
}

.sova__profile {
    width: 45vw;
    height: 64.15vw;
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width: 1024px) {
    .sova__profile {
        width: 44vw;
        height: 63vw;
    }
}

@media screen and (min-width: 1629px) {
    .sova__profile {
        width: 43vw;
        height: 58.2vw;
    }
}

@media screen and (min-width: 1920px) {
    .sova__profile {
        width: 44vw;
        height: 63vw;
    }
}
